%h4 Ähnliche Filme
%ul#more-movies
  %li
    Movie 1
  %li
    Movie 2
  %li
    Movie 3
%h4 Stars
%ul#more-stars
  %li
    Star 1
  %li
    Star 2
  %li
    Star 3
%h4 News
%ul#more-news
  %li
    News 1
  %li
    News 2
  %li
    News 3
%h4 Wasauchimmer
%ul#more-whatever
  %li
    Whatever 1
  %li
    Whatever 2
  %li
    Whatever 3
